@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 10px;
}

.title {
  margin-top: 55px;
  font-size: 35px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  height: 100vh;
}

.game-board {
  display: flex;
  flex-direction: row-reverse;
}

.score-board {
  display: flex;
  gap: 25px;
  width: 100%;
  justify-content: end;
  margin-top: 25px;
}

.score,
.time {
  font-weight: 600;
  font-size: 18px;
}

.hive-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hive {
  position: relative; 
  width: 100%;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
}

.found-answers {
  width: 600px;
  height: 300px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  margin-top: 100px;
}

.answers-list {
  margin: 15px 0 0 20px;
}

.found-answers-count {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0 0 20px;
}

.text-input {
  border: none;
  margin-top: 4%;
  height: 65px;
  width: 350px;
  font-size: 35px;
  caret-color: rgb(245, 245, 19);
  text-align: center;
}

.text-input:focus {
  outline: none;
}


.hive-cell {
  position: absolute;
  width: 100px;
  height: 90px;
  padding: 4px;
}
.hive-cell .cell-fill {
  cursor: pointer;
  fill: rgb(209, 209, 209);
  transition: all 100ms;
}
.hive .cell-letter {
  font-weight: 700;
  font-size: 30px;
  text-anchor: middle;
  text-transform: uppercase;
  pointer-events: none;
}
.hive-cell:first-child .cell-fill {
  cursor: pointer;
  fill: #f7da21;
  transition: all 100ms;
}
.hive-cell:nth-child(1) {
  transform: translate(0, 0);
}
.hive-cell:nth-child(2) {
  transform: translate(-75%, -50%);
}
.hive-cell:nth-child(3) {
  transform: translate(0, -100%);
}
.hive-cell:nth-child(4) {
  transform: translate(75%, -50%);
}
.hive-cell:nth-child(5) {
  transform: translate(75%, 50%);
}
.hive-cell:nth-child(6) {
  transform: translate(0, 100%);
}
.hive-cell:nth-child(7) {
  transform: translate(-75%, 50%);
}
.hive-actions {
  margin-top: 10em;
  display: flex;
  gap: 15px;
}

.hive-actions button {
  transition: all 0.2s ease;
  margin-right: 10px;
  padding: 10px;
  transform: scale(1);
  border: solid 2px #dcdcdc;
  border-radius: 25px;
}
.hive-actions button:active {
  box-shadow: 0 5px rgb(233, 233, 233);
  transform: translateY(4px);
}
polygon.cell-fill:active {
  transform: scale(0.9);
}
polygon.cell-fill {
  transition: all 1s;
  transform-origin: 50% 50%;
}


/* Media queries  */

@media (max-width: 1100px) {
 .hive{
  margin-top: 150px;
 }

 .found-answers{
  width: 750px;
  margin-right: 10px;
 }

 .score-board{
  padding-right: 25px;
 }
}


  @media (max-width: 768px) {
    .score-board{
      justify-content: center;
      margin-bottom: 15px;
    }
    .game-board{
      flex-direction: column-reverse;
      align-items: center;
    }

    .found-answers{
      width: 468px;
      margin-top: 75px;
      margin-bottom: 20px;
    }

    .hive{
      margin-top: 150px;

    }

    .hive-actions{
      display: flex;
      gap: 10px;
    }

    .hive-actions button{
      display: flex;
      gap: 10px;
      margin-right: 0;
    }
  }

  @media (max-width: 480px) {
    .score-board{
      justify-content: center;
      margin-bottom: 15px;
    }
    .game-board{
      flex-direction: column-reverse;
      align-items: center;
    }

    .found-answers{
      width: 370px;
      margin-top: 75px;
      margin-bottom: 20px;
    }

    .hive{
      margin-top: 150px;
    }

}

